


<div class="container">
    <nav class="navbar navbar-default navbar-static-top">
  
  
   <ul class="nav navbar-nav nav-header navbar-default">
    
    <li ng-show="signedIn()"><a ui-sref="DemandeConge">Demande un congès</a></li> 
  
    <li ng-show="signedIn()"><a ui-sref="Reponse">Réponses</a></li> 
    <li ng-show="signedIn()"><a ui-sref="profile">Profil</a></li> 
    <li ng-show="signedIn()"><a ng-click="logout()">Logout</a></li> 
  
  
  
  </ul>
    </nav>
  </div>
  <div class="col-lg-8 col-lg-offset-2" >
<button ng-click="takeme(user.id)">Load response</button>
    <table class="table" ng-table="reponse" >
        <thead>
            <tr >
               <th scope="col">Debut congès</th>
               <th scope="col">Fin Congès</th>
               <th scope="col">Réponse</th>
               <th scope="col">raison</th>
              </tr>

              <tr ng-repeat="rep in responses "  >

              <th scope="col">{{rep.date_from}}</th>
              <th scope="col">{{rep.date_to}}</th>
              <th scope="col">{{rep.etat}}</th>
              <th scope="col">{{rep.reason_refuse}}</th>



          </tr>
        </tbody>
      </table>

  </div>
</div>
