<div class="col-lg-8 col-lg-offset-2">
    <h1 class="centered-text">Register Admin</h1>
      <form ng-submit="register()" ng-controller="AuthCtrl" >
    
              
         
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" ng-model="user.email" autofocus>
        <div><br>
        <div class="form-group">
          <input type="username" class="form-control" placeholder="Username" ng-model="user.username" autofocus>
        <div><br>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
        <div>
       <br>
    
    <input type="submit" class="btn btn-info" value="Register">
    </div>
      </form>
    <br>
    
   
    </div>
    